# Généré par Ansible - ne pas éditer à la main (roles/voidauth/templates/voidauth.env.j2)
# Variables requises par l'image voidauth/voidauth, voir
# https://voidauth.app/#/Getting-Started?id=environment-variables

APP_URL={{ voidauth_app_url }}
DB_ADAPTER=postgres
DB_HOST=voidauth-db
DB_PASSWORD={{ db_password }}
STORAGE_KEY={{ voidauth_storage_key }}
