# {{ ansible_managed }}
[Unit]
Description=Rafraîchit la blocklist GeoIP (ipset firewalld)
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/geo-blocklist-update.sh
