[Unit]
Description=Sonarr
After=network-online.target

[Container]
ContainerName=sonarr
Image=lscr.io/linuxserver/sonarr:latest
AutoUpdate=registry

Network=media.network
PublishPort=127.0.0.1:8989:8989

Environment=TZ=Europe/Paris
Environment=PUID={{ quadlet_uid }}
Environment=PGID={{ quadlet_gid }}

UserNS=keep-id

Volume={{ ssd_mountpoint }}/appdata/sonarr/config:/config:Z
Volume={{ hdd_mountpoint }}/media/tvshows:/tv:z
Volume={{ hdd_mountpoint }}/media/downloads:/downloads:z

[Service]
Restart=on-failure
TimeoutStartSec=300

[Install]
WantedBy=default.target
