# Généré par Ansible - ne pas éditer à la main (roles/immich/templates/immich-server.env.j2)
# Variables documentées sur https://docs.immich.app/install/environment-variables

DB_HOSTNAME=immich-db
DB_PORT=5432
DB_USERNAME={{ immich_db_user }}
DB_PASSWORD={{ immich_db_password }}
DB_DATABASE_NAME={{ immich_db_name }}

REDIS_HOSTNAME=immich-redis
REDIS_PORT=6379

TZ=Europe/Paris
