# Généré par Ansible - ne pas éditer à la main (roles/immich/templates/immich-db.env.j2)
# Repris tel quel comme POSTGRES_USER/POSTGRES_PASSWORD/POSTGRES_DB par
# l'image ghcr.io/immich-app/postgres (cf. immich-db.container.j2).
POSTGRES_USER={{ immich_db_user }}
POSTGRES_PASSWORD={{ immich_db_password }}
POSTGRES_DB={{ immich_db_name }}
