#!/bin/sh
# Généré par Ansible (roles/pds/templates/healthcheck.sh.j2)
#
# HealthCmd pour pds.container.j2 - même logique que
# roles/voidauth/templates/healthcheck.sh.j2 (node est déjà présent dans
# l'image, pas besoin de curl/wget) : interroge /xrpc/_health, le endpoint
# de santé officiel du PDS (répond {"version":"x.y.z"} - voir
# https://github.com/bluesky-social/pds).
#
# À vérifier après le premier déploiement :
#   podman healthcheck run pds
#   systemctl --user status pds.service
node -e "fetch('http://localhost:3000/xrpc/_health').then(r => process.exit(r.status === 200 ? 0 : 1)).catch(() => process.exit(1))"
