[proton]
type = protondrive
username = {{ vault_proton_username }}
client_uid = {{ vault_proton_client_uid }}
client_refresh_token = {{ vault_proton_client_refresh_token }}
client_salted_key_pass = {{ vault_proton_client_salted_key_pass }}