[Unit]
Description=Quantum (Filebrowser) - gestion de fichiers
After=network-online.target

[Container]
ContainerName=quantum
Image=ghcr.io/gtsteffaniak/filebrowser:latest
AutoUpdate=registry

Network=media.network
PublishPort=127.0.0.1:8090:8080

Environment=TZ=Europe/Paris
User={{ quantum_uid }}:{{ quantum_gid }}

UserNS=keep-id

Volume={{ ssd_mountpoint }}/appdata/quantum/config:/home/filebrowser/data:Z
Volume={{ hdd_mountpoint }}/documents:/folder:z

[Service]
Restart=on-failure
TimeoutStartSec=300

[Install]
WantedBy=default.target
