[Unit]
Description=Radarr
After=network-online.target

[Container]
ContainerName=radarr
Image=lscr.io/linuxserver/radarr:latest
AutoUpdate=registry

Network=media.network
PublishPort=127.0.0.1:7878:7878

Environment=TZ=Europe/Paris
Environment=PUID={{ radarr_puid }}
Environment=PGID={{ radarr_pgid }}

UserNS=keep-id

Volume={{ ssd_mountpoint }}/appdata/radarr/config:/config:Z
Volume={{ hdd_mountpoint }}/media/movies:/movies:z
Volume={{ hdd_mountpoint }}/media/downloads:/downloads:z

[Service]
Restart=on-failure
TimeoutStartSec=300

[Install]
WantedBy=default.target
